*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    

}

  header {
    background-color: #1e2a3a;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

  .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

  nav ul {
    list-style: none;
    display: flex;
}

  nav ul li {
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;

}

  nav ul li:last-child {
    margin-right: 0;
}

  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

  nav ul li a:hover {
    background-color: #33425b;
}

.uvod {
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    background-color: black;
}

#bowling-uvod{
    max-height: 330px;
}

.uvod img{
    width: 100%;
    opacity: 0.5;
}

.uvod-text {
    font-weight: 700;
    font-size: 60px;
    text-transform: capitalize;
    position: absolute;
    text-shadow: 4px 4px rgb(55, 55, 55);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.uvod-buttons{
    position: absolute;
    top: 60%;
    left: 42%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.pricing-link{
    max-width: 140px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: #d53535;
}

.pricing-link a{
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.pricing-link:hover{
    box-shadow: 0px 0px 20px rgb(244, 117, 117);
    transform: translateY(-7px);
    transition: 0.3s;
    cursor: pointer;
}

.reserve-link{
    max-width: 140px;
    margin-left: 15px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: #d53535;
}

.reserve-link a{
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.reserve-link:hover{
    box-shadow: 0px 0px 20px rgb(244, 117, 117);
    transform: translateY(-5px);
    transition: 0.3s;
}

.lijeva-strana{
    width: 100%;
}

.left-wrapper{
    width: 100%;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.left{
    box-sizing: border-box;
    width: 500px;
    margin-left: 15%;
}
.left-text{
    margin-top: 20px;
    padding-left: 20px;
}
.left h2{
    padding-left: 20px;
}
.left-text-wrapper{
    border-left: solid 10px rgb(24, 49, 82);
}
.left-wrapper img{
    width: 400px;
    height: 100%;
    margin-left: 150px;
}

.right-wrapper{
    width: 100%;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.right{
    box-sizing: border-box;
    width: 500px;
}
.right-text{
    margin-top: 20px;
    padding-right: 20px;
    text-align: right;
}
.right h2{
    text-align: right;
    padding-right: 20px;
}
.right-text-wrapper{
    border-right: solid 10px rgb(24, 49, 82);
}
.right-wrapper img{
    width: 400px;
    height: 100%;
    margin-right: 150px;
    margin-left: 15%;
}

#darts-points{
    width: 350px;
    height: 100%;
}

.blank-space{
    height: 100px;
    width: 100%;
}

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
  
  
  footer a {
      color: #66ccff; 
      text-decoration: none;
}
  
  footer a:hover {
      text-decoration: underline;
}