/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f8f9fa; /* Light background color */
}

/* Container styles */
.container1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

/* Panel styles */
.panel {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: #333; /* Text color */
}

p {
    margin-top: 0;
    color: #555; /* Text color */
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #6c5ce7; /* Button color */
    color: #fff; /* Text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4b3cb3; /* Button color on hover */
}
