/* Resetting default margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #1e2a3a;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    padding: 5px; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #33425b;
  }


  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.contact-form {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-right: 20px; /* Added margin to separate the form from the details */
    margin-left: 20px;
}

.contact-details {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.contact-details p{
    margin:20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-details img{
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(44, 51, 112, 0.3);
}
.contact-details img:hover{
    transform: translateY(-5px);
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #1e2a3a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #33425b;
}

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  
  
  footer a {
      color: #66ccff; 
      text-decoration: none;
  }
  
  footer a:hover {
      text-decoration: underline;
  }
  