* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #1e2a3a;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    padding: 5px; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #33425b;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .title{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .pricing {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.plan {
    margin-bottom: 25px;
    margin-top: 26px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
   
}

.plan:hover{
    transform: translateY(-5px);
}

.price {
    font-size: 1.2em;
    color: #009688;
}

.cta-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #009688;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #00796b;
}

  footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  
  
  footer a {
      color: #66ccff; 
      text-decoration: none;
  }
  
  footer a:hover {
      text-decoration: underline;
  }