/* Resetting default margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;  
    
  }
  
  header {
    background-color: #1e2a3a;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #33425b;
  }
  
  main{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .item-container1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    background-image: url(../images/bowling.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .item-container2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    background-image: url(../images/darts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .item-container3{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    background-image: url(../images/billiards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .item-container1:hover{
    transform: translateY(-5px);
  }
  .item-container2:hover{
    transform: translateY(-5px);
  }
  .item-container3:hover{
    transform: translateY(-5px);
  }

  .title{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 20px;
    background-color: rgba(69, 195, 204, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    text-align: center;
    
  }

  .inside-container{
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
  }

  .inside-container p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #2f2c36;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 5px;
    transition: transform 0.3s ease;
  }

  .inside-container p:hover{
    transform: translateY(-5px);
    background-color: rgba(69, 195, 204);
    color: white;
  }
  .button {
    width: 25%;
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.button:hover{
    background-color: rgba(69, 195, 204);
    transform: translateY(-5px);
    text-decoration: none;
}

.button a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(31, 28, 28);
}

.button a:hover{
    text-decoration: none;
    color: white;
}


footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}


footer a {
    color: #66ccff; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.article{
  text-decoration: none;
}

