body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

/* Global styles */
.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight:400;
    margin-top: 0;
}

p {
    margin-top: 0;
}

.user-panel {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center; 
    padding-bottom: 10px; 
}


.user-info {
    text-align: center;
    width: 40%;
    margin: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style for heading */
.user-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Style for list */
.user-info ul {
    list-style-type: none;
}

/* Style for list items */
.user-info li {
    margin-bottom: 10px;
}

/* Style for strong text */
.user-info li strong {
    font-weight: bold;
}


/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #6c5ce7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4b3cb3;
}

/* Forms */
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    text-align: center;
}

.alert-dismissible {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 20px;
}

/* User Panel */
.user-panel {
    margin-top: 50px;
}

.user-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservations {
    margin-top: 25px;
    text-align: center;
}

.reservation {
    
    margin: auto;
    width: 40%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.reservation1 {
    
    margin: auto;
    width: 70%;
    background-color: #a6bee2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.reservation1:hover {
    transform: translateY(-5px);
}

.edit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.edit-btn:hover {
    background-color: #4b3cb3;
    transform: translateY(-5px);

}

.delete-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(87, 24, 24);
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.delete-btn:hover{
    background-color: rgb(56, 33, 33);
    transform: translateY(-5px);
}

.cancel-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(87, 24, 24);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.cancel-btn:hover{
    background-color: rgb(56, 33, 33);
    transform: translateY(-5px);
}