/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Container styles */
.container1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
    color: #333;
}

p {
    margin: 0;
    color: #555;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    background-color: #6c5ce7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4b3cb3;
}

/* Forms */
.form-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert button {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #721c24;
}

.alert button:hover {
    color: #000;
}

/* Modern button style */
.btn-primary {
    background-color: #6c5ce7;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4b3cb3;
}

/* Modern text input */
.input-text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-text:focus {
    outline: none;
    border-color: #6c5ce7;
}

/* Modern link style */
a {
    color: #6c5ce7;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #4b3cb3;
}
