
    <header>
        <div class="container">
            <img src="../../static/images/bowling.png" alt="ArcadeBar Logo" class="logo">
          <nav>
            <ul> 
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'merchshop:merch' %}">Merch!</a></li>
              <li><a href="{% url 'booking' %}">Reservation</a></li>  
              <li><a href="{% url 'contact' %}">Contact</a></li>    
            </ul>
          </nav>
    
          <nav>
            <ul>
                {% if request.user.is_authenticated %}
                <li>Logged in: {{request.user.username}}</li>
                {% if request.user.is_staff %}
                <li><a href="{% url 'staffPanel' %}">Update reservations</a></li>
                {% endif %}
                <li><a href="{% url 'userPanel' %}">Profile</a></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                <li><a href="{% url 'accounts:signup' %}">Sign up</a></li> 
                {% endif %}
            </ul>
          </nav>

        </div>
        
      </header>
      <div>
        {% if request.user.is_superuser %}
        <a href= "/admin">Admin</a>
        {% endif %}
      </div>
      {% block content%}
      {% endblock content %}



  