<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/base/arcade.css">
</head>
<body>
    {% extends 'base/base.html' %}

    {% block content %}

    <div class="uvod">
        <img src="../../static/images/enlarge_image.jpg" alt="biljar">
        <div class="uvod-text">Billiards</div>
        <div class="uvod-buttons">
            <div class="pricing-link">
                <a href="{% url 'billiardsPrice' %}">Pricing</a>
            </div>
            <div class="reserve-link">
                {% if request.user.is_authenticated %}
                <a href="{% url 'reservation' %}">Reserve</a>
                {% else %}
                <a href="{% url 'accounts:login' %}">Reserve</a>
                {% endif %}
            </div>
        </div>
    </div>
           
    <div class="left-wrapper">
        <div class="left">
            <div class="left-text-wrapper">
                <h2>Origins</h2>
                <div class="left-text">
                    <p>
                        Billiards, a cue sport played on a rectangular table covered with a cloth and bounded by cushions, has a history dating back centuries. Its precise origins are somewhat unclear, but it is believed to have originated in Europe during the 15th century. Initially, it was an outdoor lawn game similar to croquet but eventually moved indoors and evolved into the indoor cue sport we recognize today.                            
                    </p>
                </div>
            </div>
        </div>
        <img src="../../static/images/c8e368a8e69103e4eabef70c75e0d19b1932fee3_1700-s-1.webp" alt="billiards1">
    </div>

            <div class="right-wrapper">
                <img src="../../static/images/billiards uvod 2.webp" alt="billiards2">
                <div class="right">
                    <div class="right-text-wrapper">
                        <h2>Rules</h2>
                        <div class="right-text">
                            <p>
                                The rules of billiards vary depending on the specific game being played. For example, in eight-ball, players are assigned either the solid or striped balls, and they must pocket all their designated balls before attempting to sink the eight-ball to win. Nine-ball involves players pocketing balls in numerical order, with the player pocketing the nine-ball winning the game.                        
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left-wrapper">
                <div class="left">
                    <div class="left-text-wrapper">
                        <h2>Billiard balls and stick</h2>
                        <div class="left-text">
                            <p>
                                Billiard balls are typically made of phenolic resin or other durable materials. In a standard set, there are 16 balls, including one white cue ball and a set of numbered object balls. The cue stick, used by players to strike the cue ball, is usually made of wood. It consists of a shaft and a tip, with the tip often covered in leather.                            
                            </p>
                        </div>
                    </div>
                </div>
                <img src="../../static/images/Billiards-Snooker-Series-Modern-Sports-Vintage-Canvas-Painting-Poster-Aesthetic-Wall-Pictures-Bedroom-bar-cafe-club.jpg_640x640.webp" alt="billiards3">
            </div>

            <div class="right-wrapper">
                <img src="../../static/images/billiard-games.jpeg" alt="billiards4">
                <div class="right">
                    <div class="right-text-wrapper">
                        <h2>Required skills</h2>
                        <div class="right-text">
                            <p>
                                Playing billiards demands precise cue ball control, accuracy in shot placement, and strategic thinking for shot selection. A skilled player exhibits a consistent stroke, adaptability to different table conditions, and emotional control during competitive play. Developing these skills through practice and experience is essential for success in the game of billiards.                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
    <div class="blank-space"></div>

      <footer>
        <p>&copy; 2024 Arcade Bar</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </footer>
      {% endblock content %}
</body>
</html>