<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/base/billiardsPrice.css">
    <title>Pricing</title>
</head>
<body>
    {% extends 'base/base.html' %}

    {% block content %}

      <main>
        <section class="title">
            <h1>Billiards Pricing</h1>
            <p>Welcome to Darts Alley</p>
        </section>

        <section class="pricing">
            <div class="plan">
                <h2>Kids Billiards</h2>
                <p class="price">$2.00 per game</p>
                <p>For ages 12 and under</p>
                <a href="{%url 'booking' %}" class="cta-button">Book Now</a>
            </div>
    
            <div class="plan">
                <h2>Teen Billiards</h2>
                <p class="price">$4 per game</p>
                <p>For ages 13 - 18</p>
                <a href="{%url 'booking' %}" class="cta-button">Book Now</a>
            </div>
    
            <div class="plan">
                <h2>Adult Billiards</h2>
                <p class="price">$5 per game</p>
                <p>For ages 19 and above</p>
                <a href="{%url 'booking' %}" class="cta-button">Book Now</a>
            </div>
        </section>

        <section class="pricing">
            <div class="plan">
                <h2>Birthday Billiards</h2>
                <p class="price">$10.00 -> 6 games</p>
                <p>Anyone can celebrate</p>
                <a href="{%url 'booking' %}" class="cta-button">Book Now</a>
            </div>
    
            <div class="plan">
                <h2>Private meetups</h2>
                <p class="price">$8.00 -> 5 games </p>
                <p>Serious bussines involved</p>
                <a href="{%url 'booking' %}" class="cta-button">Book Now</a>
            </div>
    
            <div class="plan">
                <h2>Premium package</h2>
                <p class="price">$12.00 -> 8 games + free drinks</p>
                <p>Make yourself at home</p>
                <a href="{%url 'booking' %}" class="cta-button">Book Now</a>
            </div>
        </section>



      </main>

      <footer>
        <p>&copy; 2024 Arcade Bar</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </footer>
      {% endblock content %}
</body>
</html>