<link rel="stylesheet" href="../../static/base/home.css">
<link rel="stylesheet" href="../../static/base/booking.css">
{% extends 'base/base.html' %}
{% block content %}

<div class="container1">
{% if user.is_authenticated %}
<h1>Online Booking</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'booking' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input service-->
        <div class="form-group">
            <h3 class="form-label">Select activity:</h3>
            <select class="form-select fs-3" name="service">
                <option value="Bowling">Bowling</option>
                <option value="Darts">Darts</option>
                <option value="Billiards">Billiards</option>
            </select>
        </div>
            <!--input day-->
            <div class="form-group fs-3">
                <h3 class="form-label">Select Day:</h3>
                <select class="form-select fs-3" name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </form>
</div>

{% else %}

<div class="panel shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'accounts:login' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}
</div>

{% endblock %}