<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/base/arcade.css">
</head>
<body>
    {% extends 'base/base.html' %}

    {% block content %}


    <div class="uvod" id="bowling-uvod">
        <img src="../../static/images/rapids6-1500x630.jpg" alt="kuglana">
        <div class="uvod-text">Bowling</div>
        <div class="uvod-buttons">
            <div class="pricing-link">
                <a href="{% url 'bowlingPrice' %}">Pricing</a>
            </div>
            <div class="reserve-link">
                {% if request.user.is_authenticated %}
                <a href="{% url 'booking' %}">Reserve</a>
                {% else %}
                <a href="{% url 'accounts:login' %}">Reserve</a>
                {% endif %}
            </div>
        </div>
    </div>
      
            <div class="left-wrapper">
                <div class="left">
                    <div class="left-text-wrapper">
                        <h2>Origins</h2>
                        <div class="left-text">
                            <p>
                                Bowling, one of the world's oldest sports, has a rich history dating back over 5,000 years. Its origins can be traced to ancient Egypt, where artifacts resembling bowling balls and pins were discovered. The game evolved over centuries and spread across various cultures, with the British, Dutch, and Germans each contributing to its development. In the 19th century, the standardization of rules occurred, leading to the modern form of the game.
                            </p>
                        </div>
                    </div>
                </div>
                <img src="../../static/images/LSyMWcE6-Bowling-1200x800.jpg" alt="bowling1">
            </div>

            <div class="right-wrapper">
                <img src="../../static/images/bowling-banner_2.jpg" alt="bowling2">
                <div class="right">
                    <div class="right-text-wrapper">
                        <h2>Rules</h2>
                        <div class="right-text">
                            <p>
                                In a standard game of bowling, each player has ten frames to roll their ball down the lane. In each frame, the player has two attempts to knock down all ten pins. If all pins are knocked down with the first ball (a strike), it counts as 10 pins plus the pinfall from the next two rolls. If the player knocks down all the pins with the second ball (a spare), it counts as 10 pins plus the pinfall from the next roll. The game's objective is to accumulate the highest total score across all frames.                    </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left-wrapper">
                <div class="left">
                    <div class="left-text-wrapper">
                        <h2>Bowling balls</h2>
                        <div class="left-text">
                            <p>
                                Bowling balls are typically made of urethane, reactive resin, or plastic. They come in various weights, ranging from 6 to 16 pounds (2.72 to 7.25 kilograms). The weight of the ball is a personal preference, with many bowlers selecting a weight that allows for control and accuracy. The choice of the ball's surface, as well as its internal core design, can influence its performance on the lane                    
                            </p>
                        </div>
                    </div>
                </div>
                <img src="../../static/images/Runway 2024-01-14T11_09_04.112Z Expand Image.jpg" alt="bowling3">
            </div>

            <div class="right-wrapper">
                <img src="../../static/images/bowlingshoes-1500x630.jpg" alt="bowling4">
                <div class="right">
                    <div class="right-text-wrapper">
                        <h2>Bowling shoes</h2>
                        <div class="right-text">
                            <p>
                                Specialized bowling shoes are a crucial part of the game. They feature a sliding sole on one foot and a braking sole on the other. This design allows bowlers to slide on the approach (the area before the lane) with one foot while maintaining stability with the other. The sliding sole helps achieve a smooth delivery, while the braking sole ensures control and balance. Using regular shoes on the lane can damage the surface and compromise a bowler's performance.                </div>
                    </div>
                </div>
            </div>

    <div class="blank-space"></div>

      <footer>
        <p>&copy; 2024 Arcade Bar</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </footer>
      {% endblock content %}
</body>
</html>