<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/base/contact.css">
    <title>Contact</title>
</head>
<body>
    {% extends 'base/base.html' %}

    {% block content %}

      <main>
        <div class="container2">
            <div class="contact-form">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
    
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
    
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="5" required></textarea>
                    </div>
    
                    <button type="submit">Submit</button>
                </form>
            </div>
    
            <div class="contact-details">
                <a href="https://www.google.com/maps/place/Portanova+Osijek/@45.5550706,18.6337862,15.5z/data=!4m6!3m5!1s0x475ce6df5b856141:0xdb273ffab5d7b887!8m2!3d45.5546581!4d18.6375323!16s%2Fm%2F0h98x89?entry=ttu"><img src="../../static/images/location.png" alt="Location Image" style="max-width: 100%;"></a>
                <p><strong>Phone:</strong> +1 (123) 456-7890</p>
                <p><strong>Email:</strong> arcadeBarhr@gmail.com</p>
                <p><strong>Address:</strong> Svilajska ul. 31A 31000, Osijek</p>
            </div>
        </div>
      </main>
      <footer>
        <p>&copy; 2024 Arcade Bar</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </footer>
      {% endblock content %}
</body>
</html>