<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/base/arcade.css">
</head>
<body>
    {% extends 'base/base.html' %}

    {% block content %}

    <div class="uvod" id="darts-uvod">
        <img src="../../static/images/dartsuvod5-pov.jpg" alt="pikado" class="darts-uvod">
        <div class="uvod-text">Darts</div>
        <div class="uvod-buttons">
            <div class="pricing-link">
                <a href="{% url 'dartsPrice' %}">Pricing</a>
            </div>
            <div class="reserve-link">
                {% if request.user.is_authenticated %}
                <a href="{% url 'reservation' %}">Reserve</a>
                {% else %}
                <a href="{% url 'accounts:login' %}">Reserve</a>
                {% endif %}
            </div>
        </div>
    </div>
      
            <div class="left-wrapper">
                <div class="left">
                    <div class="left-text-wrapper">
                        <h2>Origins</h2>
                        <div class="left-text">
                            <p>
                                Darts has a long history, originating as a pub game in England during the late 19th century. It is said to have evolved from archery-related pastimes, with soldiers using shortened arrows to play the game indoors. Over time, standardized rules and equipment emerged, solidifying darts as a popular social and competitive activity.                            
                            </p>
                        </div>
                    </div>
                </div>
                <img src="../../static/images/darts1.jpg" alt="bowling1">
            </div>

            <div class="right-wrapper">
                <img src="../../static/images/darts3.jpg" alt="bowling2">
                <div class="right">
                    <div class="right-text-wrapper">
                        <h2>Rules</h2>
                        <div class="right-text">
                            <p>
                                Darts is typically played by two individuals or teams taking turns to throw three small, pointed missiles (darts) at a circular target (dartboard). The dartboard is divided into numbered sections, with the outer ring, inner ring, and bullseye having different point values. Players aim to accumulate points by hitting specific numbered segments. Common games include 501, where players aim to reach zero points by subtracting their score with each throw, and Cricket, where players target specific numbers to close them and score points.                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left-wrapper">
                <div class="left">
                    <div class="left-text-wrapper">
                        <h2>Points</h2>
                        <div class="left-text">
                            <p>
                                Points in darts are scored based on where the dart lands on the dartboard. The outer ring contains numbers 1 to 20, each with single and double sections, while hitting the triple ring triples the points. The Bullseye has an inner (50 points) and outer (25 points) section, and players subtract their scores from the starting total in games like 501.                            
                            </p>
                        </div>
                    </div>
                </div>
                <img src="../../static/images/darts4.jpg" alt="bowling3" id="darts-points">
            </div>

            <div class="right-wrapper">
                <img src="../../static/images/darts5.jpg" alt="bowling4">
                <div class="right">
                    <div class="right-text-wrapper">
                        <h2>Dartboards and darts</h2>
                        <div class="right-text">
                            <p>
                                Traditional dartboards are made of sisal fibers, providing a self-healing surface that minimizes damage from dart impacts. Electronic dartboards, equipped with sensors to automatically calculate scores, have gained popularity. Darts themselves consist of a point, barrel, shaft, and flight. Barrels can be made of various materials like tungsten or brass, and different shaft lengths and flight styles cater to players' preferences.                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>

    <div class="blank-space"></div>

      <footer>
        <p>&copy; 2024 Arcade Bar</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </footer>
      {% endblock content %}
</body>
</html>