<link rel="stylesheet" href="../../static/base/home.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/base/home.css">
    <title>Home</title>
</head>
<body>
    {% extends 'base/base.html' %}

    {% block content %}
      

    {% if messages %}
    <div class="alerts">
            {% for message in messages %}
                <div class="alert alert-success">
                    <h3>{{ message }}</h3>
                    <!-- <button type="button" class="btn-close">Close</button> -->
                </div>
            {% endfor %}
        </div>
    {% endif %}

      <main>
        <div class="item-container1">
            <a href="{% url 'bowling' %}" class="article">
            <section>
                <h2 class="title">
                    Bowling
                </h2>
                <div class="inside-container">
                    <p>
                    Bowling is an indoor sport where players roll a ball down a lane to knock down pins. 
                    It's played in bowling alleys, aiming for strikes (knocking down all pins) or spares (finishing remaining pins). 
                    It's a social and competitive game, offering different techniques and styles, making it enjoyable for various skill levels and occasions.
                    </p>
                </div>
                <div class="button">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'bowlingPrice' %}">Reserve</a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}">Login to Reserve</a>
                    {% endif %}
                </div>
                </a>
            </section>
        </div>
        <div class="item-container2">
            <section>
                <a href="{% url 'darts' %}" class="article">
                <h2 class="title">
                    Darts
                </h2>
                <div class="inside-container">
                    <p>
                        Darts is a precision-based game where players aim to throw small, pointed missiles (darts) at a circular board marked with numbered segments. 
                        The objective is to score points by hitting specific areas on the board, competing to achieve the highest score within a set number of throws.
                        It's a game of skill, accuracy, and strategy, often enjoyed socially in pubs or as a competitive sport.
                    </p>
                </div>
                <div class="button">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'dartsPrice' %}">Reserve</a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}">Login to Reserve</a>
                    {% endif %}
                </div>  
                </a>
            </section>
            
        </div>
        <div class="item-container3">
            <section>
                <a href="{% url 'billiards' %}" class="article">
                <h2 class="title">
                    Billiards
                </h2>
                <div class="inside-container">
                    <p>
                        Billiards, also known as pool, is a cue sport played on a rectangular table with six pockets, cue sticks, and a set of balls.
                        Players use cues to strike balls, aiming to pocket them into the table's pockets.
                        The game encompasses various versions, including eight-ball, nine-ball, and snooker, each with its rules and objectives.
                        It requires skill, precision, and strategic planning, offering both casual entertainment and competitive play.
                    </p>
                </div>
                <div class="button">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'billiardsPrice' %}">Reserve</a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}">Login to Reserve</a>
                    {% endif %}
                </div>
                </a>
            </section>
        </div>
        
      </main>
      
      <footer>
        <p>&copy; 2024 Arcade Bar</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </footer>

      {% endblock content %}
</body>
</html>