<link rel="stylesheet" href="../../static/base/home.css">
<link rel="stylesheet" href="../../static/base/userPanel.css">
{% extends 'base/base.html' %}

{% block content %}



{% if messages %}
<div class="alerts">
        {% for message in messages %}
            <div class="alert alert-success">
                <h3>{{ message }}</h3>
                <!-- <button type="button" class="btn-close">Close</button> -->
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if appointments.count > 0 %}
<div class="reservations">
    <h1>Reservations</h1>
    <br>
    <div class="reservation">
        {% for appointment in appointments %}
        <div class="reservation1 list-group fs-4 border p-3 mb-3">
            <p class="list-group mt-2"><strong>Username:</strong> {{ appointment.user.username }}</p>
            <p class="list-group mt-2"><strong>Firstname:</strong> {{ appointment.user.first_name }}</p>
            <p class="list-group mt-2"><strong>Lastname:</strong> {{ appointment.user.last_name }}</p>
            <p class="list-group mt-2"><strong>Day:</strong> {{ appointment.day }}</p>
            <p class="list-group mt-2"><strong>Termin:</strong> {{ appointment.time }}</p>
            <p class="list-group mt-2"><strong>Activity:</strong> {{ appointment.service }}</p>
            <p class="list-group mt-2"> <strong>Ordered at:</strong> {{ appointment.time_ordered }}</p><p class="list-group mt-2"></p>
            
            <div class="mt-3 mb-2">
                <a class="edit-btn" href="{% url 'userUpdate' appointment.id %}">Edit Appointment</a>
            </div>
            {% if user.is_staff %}
                <a class="delete-btn" href="{% url 'staffDelete' appointment.id %}">Delete</a>
            {% endif %}
            <br>
            
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
