<link rel="stylesheet" href="../../static/base/home.css">
<link rel="stylesheet" href="../../static/base/userUpdate.css">
{% extends 'base/base.html' %}



{% block content %}

<div class="container1">
{% if user.is_authenticated %}
<!--if 24hrs before nobat-->
{% if delta24 == True %}
<h1 class="text-center  mt-3">Edit Appointment</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="post" action="{% url 'userUpdate' id %}" class="me-2 ms-2" required>
        {% csrf_token %}

        <!--input service-->
        <div>
            <h3 class="">Select activity:</h3>
            <select class="form-select input-text" name="service">
                <option value="Bowling">Bowling</option>
                <option value="Darts">Darts</option>
                <option value="Billiards">Billiards</option>
            </select>
        </div>
            <!--input day-->
            <div class="mt-3">
                <h3 class="">Select Day:</h3>
                <select class="form-select input-text" name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </form>
</div>
<!--else if its 24hrs before editing-->
{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5">
    <h1 class="text-danger">Editing Appointments Its Only Available 24hrs Before Appointment!</h1>
    <a href="{% url 'userPanel' %}" class="btn btn-primary shadow text-center">Return To User Panel</a>
</div>

{% endif %}


{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'accounts:login' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>
</div>
{% endif %}


{% endblock content %}
