<link rel="stylesheet" href="../../static/base/home.css">
<link rel="stylesheet" href="../../static/base/userUpdateSubmit.css">
{% extends 'base/base.html' %}

{% block content %}

<div class="cointainer1">
{% if user.is_authenticated %}
<h1 class="form-label fPersian mt-3">Edit Appointment</h1>

<div class="panel shadow">
    <form method="post" action="{% url 'userUpdateSubmit' id %}" class="me-2 ms-2" required>
        {% csrf_token %}
        
        <!--input time-->
        <h3 class="form-label">Time:</h3>
        <div>
            <select class="form-select fs-3 text-center" name="time">
                {% for time in times %}
                <option value="{{time}}">{{time}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary text-white mt-3 fPersian">Submit</button>

    </form>
</div>

{% else %}

<div class="panel shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
    <h1 class="p-2  me-3">First Sign in!</h1>
    <a href="{% url 'accounts:login' %}" class="btn btn-primary text-white">Sign in</a>
</div>

{% endif %}
</div>

{% endblock content %}
