<link rel="stylesheet" href="../../static/base/home.css">
<link rel="stylesheet" href="../../static/base/userPanel.css">
{% extends 'base/base.html' %}


<div class="container1">
{% block content %}

{% if user.is_authenticated %}
<h1 class="user-panel">User Panel</h1>

<div class="user-info">
    <h2>User Info</h2>
    <ul>
            <li><strong>First Name:</strong> {{ user.first_name }}</li>
            <li><strong>Last Name:</strong> {{ user.last_name }}</li>
            <li><strong>Username:</strong> {{ user.username }}</li>
    </ul>
</div>


{% if messages %}
<div class="alerts">
        {% for message in messages %}
            <div class="alert alert-success">
                <h3>{{ message }}</h3>
                <!-- <button type="button" class="btn-close">Close</button> -->
            </div>
        {% endfor %}
    </div>
{% endif %}

<!--Appointment Loop-->
{% if appointments.count > 0 %}
<div class="reservations">
    <h1>Reservations</h1>
    <br>
    <div class="reservation">
        {% for appointment in appointments %}
        <div class="reservation1 list-group fs-4 border p-3 mb-3">
            <p class="list-group mt-2"><strong>Day:</strong> {{ appointment.day }}</p>
            <p class="list-group mt-2"><strong>Termin: </strong> {{ appointment.time }}</p>
            <p class="list-group mt-2"><strong>Activity:</strong> {{ appointment.service }}</p>
            <p class="list-group mt-2"> <strong>Ordered at:</strong> {{ appointment.time_ordered }}</p>
            
            <div class="mt-3 mb-2">
                <a class="edit-btn" href="{% url 'userUpdate' appointment.id %}">Edit Appointment</a>
            </div>
                <a class="cancel-btn" href="{% url 'userCancel' appointment.id %}">Cancel</a>
            {% if user.is_superuser %}
                
            {% endif %}
            <br>
            
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% else %}

<div class="first-sign-in">
    <h1 class="p-2  ms-3">First Sign in!</h1>
    <a href="{% url 'accounts:login' %}" class="btn btn-primary">Sign in</a>
</div>

{% endif %}


{% endblock content %}
</div>
