{% extends 'base/base.html' %}


{% block content %}

{% if error_message %}
<h1>{{ error_message }}</h1>
<h4>{{ article.title }}</h4>
<p>{{ article.price }}</p>
{% endif %}


<img src="{{ article.image }}" alt="{{ article.title }}" style="width: 260px; height: 200px;">
<p>{{ article.description }}</p>

<form action="{% url 'merchshop:checkout' article.id %}" method="POST">
    {% csrf_token %}
    <br>
    <label for="firstname">First name
        <input type="text" name="firstname">
    </label>
    <br>
    <label for="lastname">Last name
        <input type="text" name="lastname">
    </label>
    <br>
    <label for="address">Address
        <input type="text" name="address">
    </label>
    <br>
    <label for="amount">Choose your quantity
    <select name="amount" id=""> 
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option> 
    </select>
    </label>
    <br>
    <button type="submit" class="btn btn-primary">Checkout</button>

</form>

{% endblock %}