{% extends 'base/base.html' %}


{% block content %}
<h1>FULL PRICE</h1>
<h2>{{ fullPrice }}€</h2>

<p>Enter your credit card details</p>
<form action="{% url 'merchshop:thankYou' user.id %}" method="POST">
    {% csrf_token %}
    <label for="ccn">Credit Card Number:
    <input name="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" 
         autocomplete="cc-number" maxlength="19" 
         placeholder="xxxx xxxx xxxx xxxx" required>
    </label>
    <label for="expiration_date">Expiration Date:</label>
        <input type="date" name="expiration_date">
    <label for="cvc">CVC: 
        <input name="cvc" type="text">
    </label>
    <button type="submit" class="btn btn-primary">Procceed</button>
</form>



{% endblock %}