<link rel="stylesheet" href="../../../base/static/base/home.css">
{% extends 'base/base.html' %}


{% block content %}

{% for article in articles %}
<form action="{% url 'merchshop:cart' article.id %}" method="POST">
    {% csrf_token %}
    <h4>{{ article.title }}</h4>
    <p>{{ article.price }}</p>
    <img src="{{ article.image }}" alt="{{ article.title }}" style="width: 260px; height: 200px;">
    <p>{{ article.description }}</p>
    {% if request.user.is_authenticated %}
    <button type="submit" class="btn btn-primary">Add to cart</button>
    {% else %}
    <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
    {% endif %}
</form>
{% endfor %}


{% endblock %}
