{% extends 'base/base.html' %}


{% block content %}

<h2>Thank you for your service!</h2>
<p>Here are all the informations about your order.</p>
<h3>Full price: {{ fullPrice }}</h3>
<h3>Amount: {{ amount }}</h3>
<h3>First name: {{ firstname }}</h3>
<h3>Last name: {{ lastname }}</h3>
<h3>Address: {{ address }}</h3>



{% endblock %}