<link rel="stylesheet" href="../../static/base/home.css">

{% extends 'base/base.html' %}

{% block content %}
<div class="login-container">
<h1>Login</h1>
<form class="login-form" method="POST">
    {% csrf_token %}
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <br>
    <a href="{% url 'accounts:signup' %}">Dont have Account Create</a>
</form>

</div>

{% endblock content %}