<link rel="stylesheet" href="../../static/base/home.css">
{% extends 'base/base.html' %}

{% block content %}
<h1>Signup</h1>
    <form method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        {{ form.as_p }}    
        <button type="submit">Sign up</button>
        <br>
        <a href="{% url 'accounts:login' %}">Already have account?</a>
    </form>
{% endblock content %}